.root {
    padding: 2rem;
}

.card {
    min-height: 20rem;

    :global {
        .ant-card-head-title {
            color: black;
        }
    }
}

.cardContent {
    font-size: 1rem;
}

.cardRow {
    margin-bottom: 1rem;
    margin-right: 2rem;
}