.root {
    padding: 2rem;
}

.card {
    height: 22rem;

    :global {
        .ant-card-head-title {
            color: black;
        }
    }
}

.cardContent {
    font-size: 1rem;
}

.cardRow {
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.progress {
    display: flex;
}

.progressNum {
    margin-left: 1rem;
    min-width: fit-content;
}