.root {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('https://bing.img.run/uhd.php');
}

.loginWrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginCard {
    background-color: rgb(30, 30, 30);
    width: 400px;
    box-shadow: 5px 5px 10px 5px rgba(0 0 0 / 25%);
    padding: 20px;
    border-radius: 1rem;
    border: orange 4px solid;
}

.loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginIcon {
    height: 2rem;
    margin-right: 1rem;
}

.loginTitleText {
    font-size: 2rem;
    color: orange;
}

.loginDivider {
    margin-top: 24px;
    margin-bottom: 72px;
}

.loginBtn {
    width: 100%
}